Egzamin1_20230202.pdf
bez_kratki.png
dataset_brudny/scan_15_krotka_bez_kratki.png
dataset/scan_15_krotka.jpg
dataset_brudny/scan_28_srednia.jpg
docTr
dataset_brudny
dataset
surya
surya_fixed
kraken
egz_photos
.env
