[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notebook = "*"
pytesseract = "*"
jiwer = "*"
datasets = "*"
levenshtein = "*"
transformers = "*"
easyocr = "*"
imutils = "*"
huggingface-hub = "*"
paddlepaddle = "*"
jupyterlab = "*"
ipykernel = "*"
pillow = "*"
numpy = "*"
opencv-python = "*"
matplotlib = "*"
torch = "*"
torchvision = "*"
surya-ocr = "*"
ultralytics = "*"
paddleocr = {extras = ["all"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
