[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
notebook = "*"
jupyterlab = "*"
opencv-python = "*"
pillow = "*"
pytesseract = "*"
jiwer = "*"
datasets = "*"
matplotlib = "*"
levenshtein = "*"
torch = "*"
torchvision = "*"
transformers = "*"
easyocr = "*"
ultralytics = "*"
imutils = "*"
huggingface-hub = "*"
paddlepaddle = "*"
paddleocr = "==2.8.1"

[dev-packages]

[requires]
python_version = "3.12"
